body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
}

div {
  max-width: 600px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.activities{
  display: table;
}

.activity-type{
  display: table-row;
}

.activity-detail{
  display: table-cell;
}

